<h2>Postbin #<%= @bin.url %></h2>
<p>All POST/PATCH requests to this URL are logged for you to see here, sorted newest to oldest.</p>
<% for item in @bin.items.reverse %>
  <div align='left'>
    #<%= item.id.to_s(36) %><br>
  </div>
  <table width='100%'>
    <% if item.parsed_params.is_a?(String) %>
      <%= item.parsed_params %>
    <% else %> 
      <% item.parsed_params.each do |k, v| %>
        <tr>
          <td valign='top' width='10%'>
            <strong><%= h(k) %></strong>
          </td>
          <td class='payload'>
            <pre>
              <% begin %>
                <%= json(v) %>
              <% rescue %>
                <%== v %>
              <% end %>
            </pre>
          </td>
        </tr>
      <% end %>
    <% end %>
  </table>
  <br><br>
<% end %>
